<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../static/css/main.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- 지역 선택박스 -->
    <div class="container fixed-top  fade-in-out bg-white " id="region-container" style="z-index: 9999; height:100%;">

        <div class="row p-1 m-0 bg-white h-4rem align-center justify-content-between">
            <div class="col-6">지역선택</div>
            <div class="col-1 close-region">
                <svg class="bi bi-x-lg" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </div>
        </div>

        <!-- 선택한 시도 시군구 읍면동 표시 박스 컨테이너 입니다. -->
        <div class="region-status-container  justify-content-center d-flex row">
            <div class="col-3 region-status-box  m-1 justify-content-center d-flex" id="region-status">
                시도
            </div>
            <!-- 화살표 박스 -->
            <div class="col-1 justify-content-center d-flex p-2">
                <svg class="bi bi-chevron-right" fill="currentColor" height="30" viewBox="0 0 16 16"
                    width="30" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                        fill-rule="evenodd" />
                </svg>

            </div>


            <div class="col-3 region-status-box m-1 justify-content-center d-flex" id="sub-region-status">
                <span>
                    시군구
                </span>
            </div>

            <!-- 화살표 박스 -->
            <div class="col-1 justify-content-center d-flex p-2">
                <svg class="bi bi-chevron-right" fill="currentColor" height="30" viewBox="0 0 16 16"
                    width="30" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                        fill-rule="evenodd" />
                </svg>
            </div>


            <div class="col-3 region-status-box m-1 justify-content-center d-flex" id="dong-region-status">

                <span>읍면동</span>
            </div>

        </div>





        <!-- 지역 list 박스 -->
        <div class="region-list-container row bg-white  p-1 m-1 mt-4 justify-content-start d-flex">

        </div>


        <!-- 하당 고정 네비게이션 입니다. -->
        <div class="fixed-bottom row bg-white bottom-button-box w-100 m-0 p-1 justify-content-center h-4rem">
            <!-- 지역 선택 완료 버튼 -->
            <button class="btn btn-primary col-5 m-1" id="region-select-button" type="button">선택완료</button>
        </div>
    </div>

    <!-- -->



    <!-- 로딩화면-->
    <div class="overlay d-none">
        <div class="loading-spin spinner-border  text-info fixed-top" role="status"
            style="width: 7rem; height: 7rem; top: 40%; left: 40%;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="container d-flex">


        <div class="col">

            <!-- 헤더입니다. -->
            <div class="row p-1 m-0 bg-white fixed-top h-4rem align-center">
                <!-- 화살표 누르면 이전페이지로 리다이렉트 -->
                <div class="col-1" onclick="goBackCurrentPage()">
                    <!-- 화살표 이미지 -->
                    <svg class="bi bi-arrow-left" fill="currentColor" height="30" viewBox="0 0 16 16" width="30"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
                            fill-rule="evenodd" />
                    </svg>
                </div>
                <div class="col-9 t-left ">
                    <span class=" p-1" style="font-size: 1.1rem;">시설검색</span>
                </div>
                <!-- 홈으로 바로가기 버튼입니다. -->
                <div class="col-1" onclick="goHomePage()">
                    <!-- 집 이미지 -->
                    <svg class="bi bi-house-door" fill="currentColor" height="30" viewBox="0 0 16 16" width="30"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                    </svg>
                </div>

            </div>
            <!-- 헤더로 가려지는 부분입니다. -->
            <div class="w-100 bg-white h-4rem">
                <p> </p>
            </div>



            <!-- 현재 선택한 지역을 보여주는 버튼 입니다. 클릭시 지역선택 화면을 보여줍니다.-->
            <div class="w-80 location-button mb-1">
                <svg class="bi bi-geo-alt-fill" fill="blue" height="16" viewBox="0 0 16 16" width="16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                </svg>
                <div class="location-button-text font-1rem">지역 선택</div>
            </div>


            <!-- 검색창입니다. -->
            <div>
                <form class="d-flex col-12 mb-3 w-100" method="get" th:action="@{/search?}">
                    <div class="input-group">

                        <input aria-label="Search" class="form-control" id="search-input" placeholder="검색어를 입력하세요!"
                            th:name="query" type="search">
                        <button class="btn btn-outline-success" type="submit">
                            <svg class="bi bi-search" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                            <span class="visually-hidden">Search</span>
                        </button>
                    </div>
                </form>
            </div>

            <!-- 추천검색어를 담을 컨테이너입니다. -->
            <div class="suggest-container col-12 bg-white">
                <!-- 추천 검색어 창 (지역) 입니다. -->
                <!-- <div class="suggest-region-container col-12  w-100 bg-white">
                    <div class="suggest-region-box">
                        <span></span>
                    </div>
                </div> -->

                <!-- box끼리의 구분선입니다. -->
                <!-- <div style="background-color: gainsboro; height: 0.1rem;">
                    <p></p>
                </div> -->


                <!-- 추천 검색어 창 (시설명) 입니다. -->
                <!-- <div class="suggest-place-container col-12  w-100 bg-white">
                    <div class="suggest-place-box">
                        <span></span>
                    </div>
                </div> -->
            </div>


            <div style="margin-top: 1rem;">

            </div>

            <!-- 서버에서 비동기방식으로 받은 place 정보를 저장하는 컨테이너 입니다. -->
            <div class="place-information-container m-0 p-0" style="background-color: gainsboro;">

            </div>

            <!-- 장소 정보를 보여줄 box 입니다. -->
            <div class="justify-content-between bg-gainsboro  w-100 mt-1" id="place-information-box"
                th:attr="data-place-id=${placeDto.placeId}" th:each="placeDto : ${placeDtoList}">
                <div class="w-100 mb-1" id="place-text-box">
                    <div class="p-1 text-muted"><span class="small" th:text="${placeDto.categoryName}">시설 종류</span>
                    </div>
                    <div class="p-1"><span class="h6" th:text="${placeDto.placeName}">시설명</span></div>
                    <div class="p-1 text-muted"><span class="small" th:text="${placeDto.placeRoadAddress}">도로명</span>
                    </div>
                </div>
                <div id="place-img-box">
                </div>

            </div>




        </div>

        <!-- 카테고리 선택 박스 -->
        <!-- 카테고리 종류 선택하면 -->
        <!-- 해당 카테고리로 검색 제한해주세요~ -->
        <div class=" d-none category-container row bg-white fixed-top p-1 justify-content-center d-flex">
            <div class=" category-box m-1 justify-content-center d-flex" th:attr="data-category-id = ${category.categoryId}"
                th:each="category : ${categories}">
                <span th:text="${category.categoryName}"></span>
            </div>
        </div>

    </div>





    <!-- //아래 주석 복사해서 쓰세요 -->
    <script src="js/Utils.js"></script>


    <script th:inline="javascript">
        const utils = new Utils();

        const goBackCurrentPage = () => {
            utils.goBackCurrentPage();
        }
        function redirectPage(detailUrl) {
            utils.redirectPage(detailUrl)
        }

        const goHomePage = () => {
            utils.goHomePage();
        }

        // 현재 페이지 번호를 나타냅니다. 스크롤 이벤트 발생 시 추가 데이터를 서버로부터 받기 위해 사용됩니다.
        let pageNumber = 0;

        // 스크롤 이벤트를 막기위해 사용되는 변수입니다.
        // false로 초기화하여 비활성화 합니다.
        let blockScrollEvent = false;

        // 시설 카테고리 정보 변수입니다.
        let category = '';

        // 지역정보 검색시 사용될 배열입니다.
        let selectedRegionData = {
            id: '',
            dataType: '',
            name: ''
        }


        let dataType = '';
        let id = 0;
        let clickedContent = '';


        var goPlaceDetailPage = () => {
            let placeInfoBoxAll = document.querySelectorAll("#place-information-box")
            placeInfoBoxAll.forEach(placeInfoBox => {
                placeInfoBox.addEventListener('click', function () {
                    const placeDetailUrl = window.location.origin + "/places/";//쿼리파리미터 이전까지의 URL
                    let placeId = placeInfoBox.dataset.placeId;

                    console.log(placeDetailUrl + placeId);
                    window.location.href = placeDetailUrl + placeId;
                })
            });
        }

        goPlaceDetailPage();

        let inputTimer;


        document.querySelector("#search-input").addEventListener("input", function () {
            clearTimeout(inputTimer);
            inputTimer = setTimeout(function () {
                fetchKeyword()
            }, 1000);//2초후 함수를 호출합니다.
        })


        //유저가 검색창에 입력한 값을 토대로 서버에서 추천검색어를 받아옵니다.

        function fetchKeyword() {
            let userInput = document.querySelector('#search-input').value;
            console.log("유저가 검색한 값=" + userInput);
            let postData = {};

            if (userInput !== null && userInput.trim() !== '') {

                postData['keyword'] = userInput;

                fetch('http://localhost:8080/search/suggest', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(postData)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('통신 에러 발생')
                        }
                        else {
                            // console.log("응답",response)
                            // console.log("응답 json",response.json())
                            return response.json();
                        }
                    })
                    .then(data => {
                        console.log(data);
                        makeSuggestionBox(data);//추천 검색어 박스를 만듭니다.
                    })
                    .catch(error => {
                        alert('에러 발생' + error);
                    })
            }

        }

        /**
         * 추천 검색어 제안 박스를 만드는 함수입니다.
         * 비동기 방식으로 웹서버로부터 데이터를 가져와 박스를 만듭니다. 
         * 
        */
        const makeSuggestionBox = (resultData) => {
            // console.log('제안 박스 만들기 진입')

            //추천 검색어 박스를 담을 컨테이너입니다.
            let suggestContainer = document.querySelector('.suggest-container');
            //시도(region) 시군구(subRegion) 추천 검색어 저장 컨테이너입니다.
            // let regionContainer = document.querySelector('.suggest-region-container');
            //시설(place) 시군구(subRegion) 추천 검색어 저장 컨테이너입니다.
            // let placeContainer = document.querySelector('.suggest-place-container');

            //display-none 상태 해제 추천검색어 클릭시 dispaly-none으로 바뀝니다.
            suggestContainer.classList.remove("d-none")

            //서버로부터 받은 시도(region) 시군구(subRegion) 데이터 저장 객체
            let regionBox = [];
            // let regionBoxHTML = ''; // 문자열로 초기화

            //서버로부터 받은 시설(place) 데이터 저장 객체
            let placeBox = [];
            // let placeBoxHTML = ''; // 문자열로 초기화

            let suggestInnerHtml = ''; // 문자열로 초기화




            //서버에서 받은 데이터 타입이 시도(region) 시군구(subRegion)인 데이터들 객체에 저장
            for (let i = 0; i < resultData.length; i++) {
                if (resultData[i]['dataType'] == "region" || resultData[i]['dataType'] == "subRegion") {
                    regionBox.push(resultData[i]);
                }
            }
            //시도(region) 시군구(subRegion) 추천검색어 박스를 생성하여 객체에 저장.
            for (let i = 0; i < regionBox.length; i++) {
                console.log("출력할 데이터=", regionBox[i])
                suggestInnerHtml +=
                    `<div class="suggest-region-box suggest mt-2" data-id = ${regionBox[i]['id']} data-type =${regionBox[i]['dataType']}>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
                    <span>${regionBox[i]['name']}</span>
                </div>`
            };


            //서버에서 받은 데이터 타입이 시설(place) 인 데이터들 객체에 저장
            for (let i = 0; i < resultData.length; i++) {
                if (resultData[i]['dataType'] == "place") {
                    placeBox.push(resultData[i]);
                }
            }

            // 시설(place)  추천검색어 박스를 생성하여 객체에 저장.
            for (let i = 0; i < placeBox.length; i++) {
                // console.log("출력할 데이터=", placeBox[i])
                suggestInnerHtml +=
                    `<div class="suggest-place-box mt-2 suggest" data-id = ${placeBox[i]['id']} data-type =${placeBox[i]['dataType']}>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                <span>${placeBox[i]['name']}</span>
                </div>`
            };


            //추천 검색어 컨테이너에 추천검색어 DOM 추가
            suggestContainer.innerHTML = suggestInnerHtml;


            // suggestContainer.innerHTML = placeBoxHTML;
            // regionContainer.innerHTML = regionBoxHTML;
            // placeContainer.innerHTML = placeBoxHTML;

            //만들어진 지역 추천 검색어 box들을 쿼리셀렉터로 찾습니다.
            let regionSuggestBoxes = document.querySelectorAll(".suggest-region-box")

            //만들어진 place 추천 검색어 box들을 쿼리셀렉터로 찾습니다.
            let placeSuggestBoxes = document.querySelectorAll(".suggest-place-box")

            //만들어진 box들에 이벤트리스너를 붙입니다.
            regionSuggestBoxes.forEach(suggestBox => {
                /**
                 * 1. 유저가 클릭한 추천 검색어를 검색창으로 옮기고
                 * 2. 비동기 방식으로 서버로부터 place 정보를 받아와 렌더링합니다.
                 * 3. 추천 검색어 창을 dispaly : none으로 숨깁니다.
                */
                suggestBox.addEventListener('click', () => handleRegionSuggestBoxClick(suggestBox))
            })

            placeSuggestBoxes.forEach(suggestBox => {
                suggestBox.addEventListener('click', () => handlePlaceSuggestClick(suggestBox))

            });

        }



        // 추천 검색어 클릭 이벤트를 처리하는 함수 입니다.
        // 파라미터는 클릭한 추천 검색어 div 박스입니다.
        const handleRegionSuggestBoxClick = (suggestBox) => {

            //추천검색어 DOM 전체를 포함하는 컨테이너입니다. 숨깁니다.
            let suggestContainer = document.querySelector('.suggest-container');
            suggestContainer.classList.add("d-none");//유저가 추천검색어를 클릭하면 추천검색어 창을 숨깁니다.

            let keyword;
            dataType = suggestBox.dataset.type;//클릭한 데이터의 type(region, subRegion 등)을 저장합니다.
            id = suggestBox.dataset.id;//클릭한 데이터의 id값을 저장합니다
            clickedContent = suggestBox.querySelector("span").textContent;//클릭한 데이터의 이름값을 저장합니다.


            //검색창 내용(value)를 클릭한 박스의 내용으로 바꿉니다.
            document.querySelector('#search-input').value = clickedContent;

            //클릭한 추천검색어로 서버에서 검색 결과를 받아옵니다.

            //place 정보를 box에 담아 DOM으로 나타냅니다
            handleSearchRequest(id, dataType, clickedContent);

        }

        const handlePlaceSuggestClick = (suggestBox) => {
            console.log("place 박스 클릭감지");
            const placeId = suggestBox.dataset.id;
            redirectPage(`places/${placeId}`);
        }



        /**
         * 스크롤을 끝까지 내리면 place 정보를 더 받아오는 함수입니다.
         */
        const handelScrollEndToAddPlaceBox = () => {
            //현재 스크롤 위치
            let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            //화면의 높이
            let windowHeight = window.innerHeight;

            //문서 전체의 높이
            let documentHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
            if (scrollTop + windowHeight >= documentHeight) {
                console.log("pageNumber=" + pageNumber);

                //API 호출을 위한 정보들입니다.
                let suggestId = id;//PK입니다.
                let suggestDataType = dataType;//데이터 타입(테이블명) 입니다.
                let suggestConent = clickedContent;


                showLoadingScreen();//로딩 스크린을 출력합니다. 1초뒤 사라집니다.

                //
                handleSearchRequest(suggestId, suggestDataType, suggestConent);


                pageNumber++;//페이지 번호를 1 증가시킵니다.

                window.scrollTo(0, scrollTop);

                // console.log("스크롤 관련 정보" +"scrollTop="+ scrollTop+"windowHegith" +windowHeight +"documentHegith" +documentHeight);

                // 여기에 실행할 함수 호출
            }
        }

        window.addEventListener('scroll', () => {
            if (!blockScrollEvent) {
                handelScrollEndToAddPlaceBox();
            }
        }
        );


        /**
         * 추천 검색어를 눌렀을때 검색 결과를 핸들링한는 함수입니다.
         * @param id
         * @param dataType
         * @param clickedContent
         */
        const handleSearchRequest = (id, dataType, clickedContent) => {
            let postData = {}; //비동기 방식으로 POST요청을 보내기 위한 배열입니다.
            postData['id'] = id;//추천 검색어의 DB table에서의 FK입니다.
            postData['dataType'] = dataType;//추천검색어 검색 타입입니다.
            postData['name'] = clickedContent;//추천검색어에 저장되어있던 객체의 이름입니다. 예시: 경기도
            postData['pageNumber'] = pageNumber;//페이지 번호 입니다(전역변수).


            fetch('http://localhost:8080/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(postData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("서버 에러 발생");
                    } else {
                        return response.json();//서버에서 받아온 데이터를 JSON으로 변환합니다.
                    }
                }).then(data => {
                    console.log("서버에서 받아온 데이터 수=" + data.length);
                    //데이터 수가 20개 미만이면 스크롤 이벤트를 차단합니다.(마지막 페이지)
                    if (data.length < 20) {
                        blockScrollEvent = true;
                    }

                    // HTML에서 클래스가 "place-information-container"인 요소를 선택합니다.
                    let container = document.querySelector('.place-information-container');
                    let listBoxes = '';
                    data.forEach(element => {
                        // 서버에서 받아온 데이터를 사용하여 리스트 아이템의 HTML을 생성하고 listBoxes에 추가합니다.
                        listBoxes = addPlaceListBox(element, listBoxes);
                    });
                    // 현재 컨테이너의 내부 HTML을 저장합니다.
                    let containerInnerHtml = container.innerHTML;
                    // 이전 HTML 내용과 새로 생성된 listBoxes를 합쳐서 컨테이너의 내부 HTML을 갱신합니다.
                    container.innerHTML = containerInnerHtml + listBoxes;
                    showPlaceDetail();
                }).catch(error => {
                    alert('에러 발생 함수' + error);
                })
        }
        // }







        /**
         * 서버로부터 받아온 data로 place 정보를 list 형태로 만드는 함수입니다.
         * @param {data} place 서버로부터 받아온 data입니다.
         * @param listBoxes placeList를 저장할 DOM입니다.
         * @returns placeList를 담은 DOM을 반환합니다.
         */
        function addPlaceListBox(place, listBoxes) {
            listBoxes +=
                `<div class="justify-content-between bg-white w-100 place-list-box" style="margin-top: 1px;" id="place-information-box"
                     data-place-id = ${place.placeId} >
                     <div class="w-100" id="place-text-box">
                     <div class="p-1 text-muted"><span class="small">${place.categoryName}</span>
                      </div>
                         <div class="p-1"><span class="h6" ">${place.placeName}</span></div>
                       <div class="p-1 text-muted"><span class="small"">${place.placeRoadAddress}</span>
                         </div>
                     </div>
                     <div id="place-img-box">
                             </div>
                      </div>`
            return listBoxes;

        }

        /** place list box를 클릭시 해당 place의 상세 페이지로 이동하는 함수입니다.
         *
         */
        const showPlaceDetail = () => {
            // place 정보가 담겨있는 box를 선택합니다.
            let placeListBoxes = document.querySelectorAll('.place-list-box');

            // 각 place box에 대해 클릭 이벤트를 추가합니다.
            placeListBoxes.forEach(placeBox => {
                placeBox.addEventListener('click', function () {
                    // 클릭한 place의 상세 페이지 URL을 생성합니다.
                    const detailUrl = `places/${placeBox.dataset.placeId}`
                    // console.log('URL = ' + detailUrl);
                    // 생성된 URL로 페이지를 이동합니다.
                    redirectPage(detailUrl);
                })

            });
        }



        /**
         * 로딩화면을 보여주는 함수입니다. 1초뒤 로딩화면이 사라집니다.
         */
        const showLoadingScreen = () => {
            // console.log("변경진입");
            const loadingScreen = document.querySelector('.overlay')//로딩화면 객체에 저장.
            loadingScreen.classList.remove('d-none');//부트스트랩 display-none 클래스 제거
            loadingScreen.classList.add('d-block');//부트스트랩 display-block 클래스 추가
            loadingScreen.addEventListener('click', function (event) {
            })
            //1초뒤 로딩화면을 숨깁니다.
            setTimeout(function () {
                document.body.style.overflow = '';
                loadingScreen.classList.remove('d-block');
                loadingScreen.classList.add('d-none');
            }, 1000)

        }




        const categoryBoxes = document.querySelectorAll(".category-box");
        categoryBoxes.forEach(categoryBox => {
            categoryBox.addEventListener('click', function () {
                const categoryId = categoryBox.dataset.categoryId;
                console.log("카테고리 박스 클릭 감지" + categoryId);
                categoryBox.style.color = "#4a74fc"; // 글씨색 변경
                categoryBox.style.borderColor = "#4a74fc"; // 테두리 색상 변경
                categoryBox.style.fontWeight = "bold"; // 글씨 굵게 변경
                categoryBoxes.forEach(box => {
                    if (box !== categoryBox) {
                        box.style.color = ""; // 글씨색 초기화
                        box.style.borderColor = ""; // 테두리 색상 초기화
                        box.style.fontWeight = ""; // 글씨 굵기 초기화
                    }
                }

                )
            }
            )
        }




        );



        // 지역 선택 관련 기능들

        //비동기 방식으로 POST요청을 보내기 위한 함수입니다.

        function fetchRegionList(id, dataType, name) {

            let postData = {
                id: id,
                dataType: dataType,
                name: name
            };
            fetch("http://localhost:8080/regions/list", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(postData)
            }).then(response => {
                if (!response.ok) {
                    throw new Error('통신 에러 발생')
                }
                else {
                    return response.json();
                }
            }).then(data => {
                makeRegionListBoxes(data);
                //data로 박스 만들어주셈~
            }).catch(error => {

            })
        }

        const makeRegionListBoxes = (data) => {
            console.log("기능진입")
            //region list를 담는 컨테이너를 불러옵니다.
            const regionListContainer = document.querySelector(".region-list-container")
            //innerHTML을 초기화합니다.
            regionListContainer.innerHTML = '';
            //innerHTML에 넣을 객체입니다.
            regionListInnerHtml = '';

            // 박스를 생성하여 객체에 저장.
            for (let i = 0; i < data.length; i++) {
                // console.log("출력할 데이터=", data[i].id)
                // console.log("출력할 타입=", data[i].dataType)

                regionListInnerHtml +=
                    ` <div class="col-4 region-list-box d-flex justify-content-center" data-id="${data[i].id}" data-datatype="${data[i].dataType}">
   ${data[i].name}
      </div>`
            };

            //만들어진 박스를 컨테이너에  담습니다.
            regionListContainer.innerHTML = regionListInnerHtml;
        }

        document.addEventListener("DOMContentLoaded", function () {
            console.log("DOM 로딩 완료")
            fetchRegionList();
        });


        // 시도 클릭 이벤트 위임
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('region-list-box')) {
                const id = event.target.dataset.id;
                const dataType = event.target.dataset.datatype;


                const name = event.target.textContent;
                console.log(`클릭한요소 =  id:${id}, name:${name}, dataType:${dataType}`);
                changeStatusBox(id, dataType, name);

                //클릭한 데이터가 시도(region) 또는 시군구(subRegion)일때만 매핑된 자료를 요청합니다.
                if (dataType == "region" || dataType == "subRegion") {
                    fetchRegionList(id, dataType, name);
                }






            }
        });

        //지역 status 창(상단 3개 박스) 내용을 바꾸는 함수입니다.
        const changeStatusBox = (id, dataType, name) => {
            if (dataType == "region") {
                const regionStatus = document.querySelector("#region-status")
                regionStatus.textContent = name;
                regionStatus.dataset.id = id;
                regionStatus.dataset.dataType = dataType;
            }
            if (dataType == "subRegion") {
                const regionStatus = document.querySelector("#sub-region-status")
                regionStatus.textContent = name;
                regionStatus.dataset.id = id;
                regionStatus.dataset.dataType = dataType;
            }
            if (dataType == "dongRegion") {
                const regionStatus = document.querySelector("#dong-region-status")
                regionStatus.textContent = name;
                regionStatus.dataset.id = id;
                regionStatus.dataset.dataType = dataType;
            }

        }


        // 지역 선택창 닫기버튼 핸들링 함수
        document.querySelector(".close-region").addEventListener('click', function () {
            console.log("닫기버튼 클릭");
            const regionContainer = document.querySelector("#region-container");
            regionContainer.classList.add("hidden");
            regionContainer.classList.remove("visible");

            setTimeout(function () {
                regionContainer.classList.add('d-none');
            }, 500); // 100밀리초(0.1초) 후에 실행

        })

        // 지역 선택창 열기버튼 핸들링 함수
        document.querySelector(".location-button").addEventListener('click', function () {
            const regionContainer = document.querySelector("#region-container");
            regionContainer.classList.remove("d-none");

            setTimeout(() => {
                regionContainer.classList.remove("hidden");
                regionContainer.classList.add("visible");
            })

        }, 100);


        /**
         * 선택 완료 버튼을 클릭시 작동합니다.
         * 유저가 선택한 지역 정보를 객체에 내용을 저장하고 지역 선택 버튼에 내용을 반영하는 함수입니다.
         */
        document.querySelector("#region-select-button").addEventListener('click', function () {
            const regionStatus = document.querySelector("#region-status");
            const subRegionStatus = document.querySelector("#sub-region-status");
            const dongRegionStatus = document.querySelector("#dong-region-status");

            const regionId = regionStatus.dataset.id;
            const subRegionId = subRegionStatus.dataset.id;
            const dongRegionId = dongRegionStatus.dataset.id;

            //지역 선택 버튼 텍스트 입니다. 현재 유저가 선택한 지역을 시도/시군구/읍면동 순서로 보여줍니다.
            let locationButtonText = document.querySelector(".location-button-text");
            //내용을 초기화합니다.
            locationButtonText.textContent = '';


            //  console.log(`region Id= ${regionId}, subRegionId = ${subRegionId}, dongRegionId = ${dongRegionId}`)

            // 시도 데이터는 필수 선택사항입니다.
            if (regionId == undefined) {
                alert("시/도 지역을 선택해 주세요!")
            }
            //시도는 선택, 시군구는 선택하지 않았을때 처리
            if (regionId != undefined && subRegionId == undefined) {
                selectedRegionData["id"] = regionId
                selectedRegionData["name"] = regionStatus.textContent;
                selectedRegionData["dataType"] = regionStatus.dataset.dataType;
                //시도 이름 입력
                locationButtonText.textContent = `${regionStatus.textContent}`

                //시도는 시군구는 선택, 읍면동은 선택하지 않았을때 처리
            } else if (subRegionId != undefined && dongRegionId == undefined) {
                selectedRegionData["id"] = subRegionId
                selectedRegionData["name"] = subRegionStatus.textContent;
                selectedRegionData["dataType"] = subRegionStatus.dataset.dataType;

                //시도 시군구 이름 입력
                locationButtonText.textContent = `${regionStatus.textContent} ${subRegionStatus.textContent}`

                //시도는 시군구는 읍면동은 선택했을때 처리

            } else if (dongRegionId != undefined) {
                selectedRegionData["id"] = dongRegionId
                selectedRegionData["name"] = dongRegionStatus.textContent;
                selectedRegionData["dataType"] = dongRegionStatus.dataset.dataType;

                //시도 시군구 읍면도 이름 입력
                locationButtonText.textContent = `${regionStatus.textContent} ${subRegionStatus.textContent} ${dongRegionStatus.textContent}`

            }

            //  console.log(`현재 선택된 지역정보 id= ${selectedRegionData.id}
            //     , dataType = ${selectedRegionData.dataType}
            //     , name = ${selectedRegionData.name}`)



            //시도 데이터 있으면 저장
            //시군구 데이터 있으면 저장
            //읍면동 데이터 있으면 저장





        })



    </script>





</body>

</html>